<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">

                <input type="text" class="form-control" placeholder="Buscar usuario" (keyup)="buscar(txtBusqueda.value)"
                    #txtBusqueda>

            </div>
        </div>
    </div>
</div>

<ng-template *ngIf="cargando then load else notload"></ng-template>

<ng-template #load>
    <div class="row animated fadeIn">
        <div class="col-12">
            <div class="alert alert-info text-center">
                <h4 class="alert-heading">Cargando...</h4>
                <i class="fa fa-spin fa-refresh fa-2x"></i>
                <p class="mb-0">Por favor espere</p>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #notload>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Usuarios</h4>
                    <h6 class="card-subtitle">Usuarios registrados</h6>
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th class="w100">Avatar</th>
                                    <th>Nombre</th>
                                    <th>Email</th>
                                    <th class="w100">Rol</th>
                                    <th class="w100">Auth</th>
                                    <th class="text-nowrap w100">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let usuario of usuarios">
                                    <td class="text-center">
                                        <img class="avatar-picture" [src]="usuario.imageUrl" [alt]="usuario.name" />
                                    </td>
                                    <td>{{usuario.name}}</td>
                                    <td>{{usuario.email}}</td>
                                    <td>{{usuario.role}}</td>
                                    <td class="text-center">
                                        <div *ngIf="usuario.google; then google else email"></div>
                                    </td>
                                    <ng-template #email>
                                        <span class="label label-info">Email</span>
                                    </ng-template>
                                    <ng-template #google>
                                        <span class="label label-danger">Google</span>
                                    </ng-template>
                                    <td class="text-nowrap text-center">
                                        <a data-toggle="tooltip" data-original-title="Editar">
                                            <i class="fa fa-pencil text-inverse m-r-10"></i>
                                        </a>
                                        <a *ngIf="usuario.uid != usuarioActual.uid" (click)="borrar(usuario)"
                                            data-toggle="tooltip" data-original-title="Eliminar">
                                            <i class="fa fa-close text-danger"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center" *ngIf="txtBusqueda.value.length === 0">
                        <p class="text-muted">{{from}}/{{total}}</p>
                        <button (click)="changeValue(-5)" class="btn btn-secondary">Anteriores</button>
                        &nbsp;
                        <button (click)="changeValue(5)" class="btn btn-secondary">Siguientes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>