.fast {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

a {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.w100 {
    width: 100px;
}

.avatar-picture {
    width: 50px;
    border-radius: 100%;
}

#fondo-modal {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1550;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
}

.oculto {
    display: none;
}