<div id="fondo-modal" class="animated fadeIn" [class.oculto]="ims.ocultarModal">
    <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
        style="display: block; padding-right: 17px;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLabel1">Cargar imagen</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"
                            (click)="cerrarModal()">×</span></button>
                </div>
                <div class="modal-body">

                    <div class="text-center mb-3">
                        <div *ngIf="!imgTemp; then img else temp"></div>
                        <ng-template #temp>
                            <img class="avatar" [src]="imgTemp" width="256">
                        </ng-template>
                        <ng-template #img>
                            <img class="avatar" [src]="ims.img" width="117">
                        </ng-template>
                    </div>
                    <div class="progress mt-3 mb-3">
                        <div class="progress-bar bg-info" role="progressbar" [style.width]="porcentaje+'%'"
                            style="height: 6px;"></div>
                    </div>

                    <input type="file" (change)="cargarImagen($event)">

                    <br>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal"
                        (click)="cerrarModal()">Cancelar</button>
                    <button type="button" class="btn btn-primary" [disabled]="!imagen" (click)="subirImagen()"><i
                            class="fa fa-upload"></i> Subir</button>
                </div>
            </div>
        </div>
    </div>
</div>